@font-face { 
    font-family: 'Gilroy-Light'; 
    src: url('../fontes/gilroy/Gilroy-Light.otf'); 
  } 
@font-face { 
    font-family: 'Gilroy-Medium'; 
    src: url('../fontes/gilroy/Gilroy-Medium.otf'); 
} 
@font-face { 
    font-family: 'Gilroy-Bold'; 
    src: url('../fontes/gilroy/Gilroy-ExtraBold.otf'); 
} 


*{
    margin: 0;
    padding: 0;
    list-style:none;
    outline: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}

body{
    background-color: rgb(255, 253, 253);
    min-width: 320px;
    font-size: 20px;
    font-family: 'Gilroy-Light','Lato', sans-serif;
    border: solid 2px black;
}
/* <!-- Logo e menu de navagação --> */
.agrupar{
    width: 90vw;
    margin: 0 auto;
} 
 header{
    width: 1366px;
    max-width: calc(100% - 80px);
    height: 50px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Gilroy-Medium'; 
    align-items: center;
    margin: 20px auto;

}

.logo{
    font-weight: bold;
    color: black;
    font-size: 20px;
    line-height: 28px;
    font-family: 'Gilroy-Medium'; 
}

nav ul{
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav li{
    display: inline-block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin: 10px;
}
.principal-container{
    justify-content: center;
}

.lateral-icones{
    /* width: 30vw; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.carrinho, .user{
    width: 52px;
    height: 52px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    border-radius: 50%;
    background-color:#F2F2F2 ;
    position: relative;
}
.carrinho{
    background-image: url(../img/carrinho.png);
    margin-left: 1rem;
}
.user{
    margin-left: 1rem;
    background-image: url(../img/user.png);
    background-size: 20px;
}

.pesquisar{
    /* width: 20vw;
    height: 3.5vw; */
}
.pesquisar::placeholder{
    padding-left: 10px;
}
.icone{
    border: transparent; 
    background-color: #F2F2F2; 
    border-radius: 50px;
    padding: 10px;
}
/* .lado{
    display: inline-block;
    width: 50;
}  */
.barra-pesquisa{
    display: none;
}
/* <!-- Início do conteúdo principal do site tags genêricas --> */
.gradiente{
    font-weight: bold;
    font-family: 'Gilroy-Medium'; 
    background: linear-gradient(to right,#9F9F9F, #DADADA);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}
h1{
    font-size: 104px; 
    line-height: 104px;
    padding: 20px 0px;
}

h2{
    /* font-size: 40px;  */
    line-height: 50px; 
    font-family: 'Gilroy-Medium'; 
}

p{
    font-size: 20px; 
    line-height: 28px; 
    font-weight: 400;
}

button{
    border: 2px solid #1F1F1F;
    border-radius: 12px; 
    background-color: white; 
    height: 84px; 
    padding: 20px;
    font-size: 20px; 
    font-weight: 700;
    line-height: 28px;
    cursor: pointer;
}

#principal{
    width: 1366px;
    margin: 70px auto 0px;
    max-width: calc(100% - 80px);
    
} 
.principal-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.principal-texto{
    width: 500px;
}
.principal-img{
    position: relative;
}
#pricipal p{
   width: 250px;
   height: 90px;
}
#principal button{
    margin-top: 40px;
}

#principal img{ 
    width: 40vw;
    height: 40vw;
}  

/* <!-- Mostruario do tênis --> */
#tenis-cor{
    width: 90vw;
    background-color: #F3F3F3;
    height: 700px;
    text-align: center;
    padding: 64px 0px;
    margin: 80px auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}   

span{
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    font-family: 'Gilroy-Medium'; 
}

.cores{
    background-color: #F3F3F3;
}

.cores li{
    display: inline-block;
    margin: 5px;
} 

/* <!-- Sessão com 3 blocos com imagens e textos --> */

.sessao{
    width: 90vw;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.img-um{
    width: 24.5vw;
    height: 30vw;
}

.img-dois{
    width: 15vw;
    height: 30vw;
} 
.img-lado{
    width: 40vw;
    display: flex;
    justify-content: space-between;
}
.lado-sessao img{  
    width: 40vw;
} 
.txt{
    width: 45vw;
}
.sessao h2{
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 24px;
}
.sessao p{
    font-size: 18px;
} 

.cores button{
    background-color: transparent;
}


.fundo{
    background-image: url("../img/fundo.png");
    height: 700px;
    padding: 10px 15px;
    /* background-repeat: no-repeat; */
    background: cover;
}

.fundo span{
    color: white;
    font-weight: bold;
    font-size: 104px;
    line-height: 104px;
    padding-left: 15px;
}  

/* Sessão com o formulário e o mapa */
.container{
    width: 90vw;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
}   

.mapa, .form {
    width: 45vw;
    height: 100%;
}

.form{ 
    border-radius: 0px 8px 8px 0px;
    background: #F3F3F3;
    display: flex;
    flex-direction: column;
    /* font-size: 1.5vw; */
    justify-content: space-around;
    align-items: center;
}

.form .input{
    width: 75%; 
    height: 60px; 
    border-style: none;
    border-radius: 12px; 
    padding-left: 28px;
}
.form input:focus{
    box-shadow: 0px 0px 13px 0px #bdbdbd;
    transition: .5s;
}
.form ::placeholder{
   font-family: 'Gilroy-Medium', sans-serif;
}

#enviar{
    width: 70%; 
    height: 60px; 
    padding: 5px;
}

/* .bloco{
    height: 15px; 
 
    } */

.comentario{
    width: 33vw;
    height: 12vw;
    padding-top: 24px;
    border-style: none;
    border-radius: 12px; 
    padding-left: 28px;
}
.comentario:focus{
    box-shadow: 0px 0px 13px 0px #bdbdbd;
    transition: .5s;
}
/* .confirmo{
    width: 2vw;
    font-size: 15px;
}  */

footer{ 
    background: #F3F3F3;
}

.rodape{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0px;
}
.rodape li {
   margin: 15px 0px;
}
.lado-rede_social{
    display: inline-block;
}

footer h4{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
} 
.mapa-2{
    display: none;
}



/* Small devices (portrait tablets and large phones, 600px and up) */



/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) { */
    /* .form h2{
        font-size: 33px;
    }
}
.buscar{
    display: none;
}
 .modal{    
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
} 
.opened-modal{
    display: block;
}
.card{
    width: 600px;
    height: 500px;
    box-shadow: -10px 0px 20px 0px #bdbdbd;
    border-radius: 12px;
    position: fixed;
    top:5%;
    right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:white ;
} 

.card-modal{
    box-shadow: -5px 10px 20px 0px #bdbdbd;
    border: solid 1px lightgray;
    border-radius: 12px;
    background-color:#f3f3f3ab;
    background: linear-gradient(270.06deg, #DADADA 50.97%, #9F9F9F 99.92%); 
}

.fechar{
    position: absolute;
    right: 20px;
    appearance: none;
    top: 3%;
    cursor: pointer;
}

.modal-construcao{
        width: 100%;
        height: 100vh;
        position: fixed;
        top:0px;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
} 
.closed-modal{
    display: block;
}
.card-construcao{
    width: 450px;
    height: 400px;
    border-radius: 12px;
    background-color:white;
    position: fixed;
    top:5%;
    right: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(270.06deg, #DADADA 50.97%, #9F9F9F 99.92%);
    box-shadow: -2px -2px 20px 10px gray;

} 
.caixa{
    max-width: 450px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
} 
 */
