
.lateral-icones-mobile{
    width: 50vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: none;

}
.nav-mobile{
    max-width: 80vw;
    max-height: 50px;
    
}
.nav-mobile,
.sessao-mobile,
.container-image,
.container-mobile,
.rodape-mobile{
    display: none;
}

.d-none{
    display: none;
}

@media only screen and (min-width:320px) and (max-width: 480px){
    
    .sessao-mobile,
    .container-image,
    .container-mobile,
    .rodape-mobile{
    display: block;
    }
    body{
        background-color: rgb(255, 255, 255);
    }
    
    .buscar,
    .barra-pesquisar,.menu-select,
    .lateral-icones,
    .nav-laptop,
    .container,.mapa,.rodape,.rede-social,.sessao{
        display: none;
     }

    body{
        font-size: 10px;
    }

    main{
        text-align: center;
    }
    header{
        width: 90%;
        margin: 10px auto;
    }
   
    .logo{
        font-size: 14px;
    }
  
    .lateral-icones-mobile{
        display: flex;
    }
    header form input{
       width: 40vw;
    }
     .carrinho{
        /* background-size: 10px; */
        background-position: center;
        width: 40px;
        height: 30px;
        background-size: 15px;
        margin-left: 0.5rem;
    } 
    .item{
        background-color: red;
        color: white;
        width: 15px;
        height: 15px;
        padding-top: 1px;
        border-radius: 50%;
        position: absolute;
        right: -6px;
        top: -2px;
        text-align: center;
    }
    .menu{
        width: 35px;
        height: 35px;
        background-color:#F3F3F3;
        border-radius: 50%;
        position: relative;
        top: -1px;
        right: -7px;
        margin-left: 10px;
        
    }
    .menu span{
        width: 20px;
        height: 2px;
        margin: 2px;
        background-color: #1F1F1F;
        position: relative;
    }

    .span-menu{
        position: absolute;
        top: 8px;
        right: 5px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav-mobile {
        display: block;
        
    }

    .nav-mobile ul{
        width: 40vw;
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        border-radius: 8px; 
        display: none;
    }

    .nav-mobile-container li{
        color: #1a1818;
        height: 24px;
        font-size: 14px;
        border: black 1px solid;
    }
    .nav-mobile-container ul li:hover{
        transition: 1ms;
        background-color: blue;
        border: gray 1px solid;
    }
    
    #principal h1{
        font-size: 30px;
        /* margin: 0px ; */
        /* padding: 0px ; */
        /* width: 0px; */
        /* height: 70px; */
        line-height: 30px;
    }
    h2{
        font-size: 18px;
    }
    p{
        font-size: 12px;
    }

   
    #sapato p{
      margin-top: 150px;
    }
    #principal{
        width: 95%;
        height: 450px;
        margin: 30px auto;
    }
    .principal-texto{

        width: 100%;
        text-align: center;
    }
    #principal img{
        position: absolute;
        width: 40vw;
        height: 35vw;
        top: 60px;
        right: 70px;
        z-index: 9999;
    }    

    #tenis-cor{
      height: 100%;
      padding: 10px;
      margin: 70px auto;
    }
    #tenis-cor ul li{
        margin: 0;
    }
    #tenis-cor img{
        max-width: 60%;
    }
    #tenis-cor span{
        font-size: 12px;
        margin-bottom: 5px;
    }
    .cores button{
        background-color: transparent;
        font-size: 12px;
        padding: 5px;
    }
    button{
        border: 1px solid black;
        width: 180px;
        height: 40px; 
        font-size: 12px; 
        font-weight: 700;
        line-height: 20px;
        padding: 10px;
    }
    .agrupar{
        width: 90vw;
        margin: 0 auto;
        text-align: center;
      
    }
   
    .img-um{
        width: 50%;
        height: 100%;
    }
    .img-dois{
        width: 48.5%;
        height: 50%;
    }
    .sessao-mobile h2{
        font-weight: bold;
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 24px;
    }
    .sessao-mobile p{
        display: block;
        font-size: 12px;
    }
    .sessao-mobile{
        height: 1350px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;

    }
    .sessao-mobile h2{
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 24px;
    }

 .container-image {
    position: relative;
    width: 80%;
  }
  
  .image-fundo {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 60%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #F3F3F3;
  }
  
  .container-image:hover .overlay {
    transition: 1s;
    opacity: 0.7;
  }
  
  .text-container {
    color: black;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

    .fundo{
        /* padding: 10px 15px; */
        /* background-repeat: no-repeat;
        background-size: cover;  */
        text-align: start;
        height: 230px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover; 
    }

    .fundo img {
        width: 5%;
        margin: 10px  10px 0px 0px;
    }
    .fundo span{
        font-size: 30px;
        line-height: 40px;
        padding-left: 15px;
    } 
    
    .container-mobile{
        max-width: 350px;
        margin: 80px auto 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }  
   
    .mapa-2{
        display: block;
        font-size: 14px;
    }
    .form{
        width: 90%;
        height: 450px; 
        margin: 20px auto 0px;
        border-radius: 8px;
        background: #F3F3F3;
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .form h2{
        font-size: 15px;
    } 

    .form ::placeholder{
        font-family: 'Gilroy-Medium', sans-serif;
        font-size: 10px;
    }  
    .container-mobile .input{
        height: 40px;
        width: 75%;
    }
    
    .comentario{
        width: 60vw;
        height: 30vh;
        padding-top: 24px;
    }
    #enviar{
        border: solid black 1.5%;
        height: 10vw;
        width: 25vw; 
        border-radius: 12px;
        font-size: 3vw;
        margin: 20px 0px;
        background-color:#F3F3F3 ;
    }
    /* .confirmo{
        width: 10px;
        font-size: 8px ;    
    } */

    .rodape-mobile{
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .divisoria{
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20px auto 0px;
    }
 
    .divisoria-2{
        display: flex;
        justify-content: space-around;
        text-align: start;
    }
    
}