

@media only screen and (min-width: 768px) and (max-width: 992px){
   
  body{
      background-color: aquamarine;
  }
  header{
        width: 90vw;
    }
    .nav-laptop,.buscar,.mapa-2{
        display: block;
    }
    
    input{
        width: 30vw;
    }
    
    nav a{
        font-size: 18px;
    }
  
    #principal img{ 
        width: 35vw;
        height: 35vw;
    }  
    button{
        border: 2px solid #1F1F1F;
        border-radius: 12px; 
        background-color: white; 
        height: 75px; 
        padding: 10px 15px;
        font-size: 15px; 
        line-height: 20px;
    }
    p, span, a{
        font-size: 16px;
    }
   
    #principal h1{
        font-size: 45px;
        line-height: 70px;
        padding: 10px 0px;
    }
    #principal{
        width: 90vw;
        height: 300px;
        margin: 20px auto;
    }
    .principal-texto{
        width: 420px;
    }
    .sessao h2{
        font-size: 40px;
    }
    
    #tenis-cor h2{
        font-size: 30px;
    }

    .txt{
        width: 40vw;
    }

     .sessao img, .img-um{
       width: 40vw;
       height: 40vw;
       border-radius: 8px;
    }
    /* .img-um{
        width: 24.5vw;
        height: 30vw;
    }
     */
    .img-dois{
        /* width: 15vw;
        height: 30vw; */
        display: none;
    } 
    .img-lado{
        width: 40vw;
        display: flex;
        justify-content: space-between;
    }
    
    .fundo{
        max-width: 100vw;
        height: 450PX;
        background-repeat: no-repeat;
        background-size: cover; 
    }
    .fundo span{
        font-size: 60px;
        line-height: 80px;
        padding-left: 15px;
    }
    
    .barra-pesquisa{
        width: 90vw;
        height: 5vw;
        margin: 20px auto 0px;
        display: flex;
        justify-content: center;
       }
     
       .pesquisar, .mapa,.rede-social{
           display: none;
       }
     
       .container{
           flex-direction: column;
           margin: 70px auto;
           align-items: center;
       }
       .form{
           height: 500px;
           margin: 30px ;
       }
       .form h2{
        font-size: 18px;
       }
       .form::placeholder{
        font-size: 12px;
    }
  
    #enviar{
        width: 50%; 
        height: 50px; 
        font-size: 15px;
    }
 } 
 